-
    var heading = `We're happy to hear form you`;
    var label = {
        name: 'Name',
        email: 'Email',
        drop: 'How did you find us?',
        newsletter: 'Newsletter',
        write: 'Drop us a line'
    };


section.section-form
    .row
        h2.heading-secondary=heading
    .row
        form.contact-form(action="#", method="post")
            .flex-row
                .flex-item-left
                    label=label.name
                .flex-item-right
                    input(type="text", name="name", id="name", placeholder="Your name", required)
            .flex-row
                .flex-item-left
                    label=label.email
                .flex-item-right
                    input(type="email", name="email", id="email", placeholder="Your email", required)
            .flex-row
                .flex-item-left
                    label=label.drop
                .flex-item-right
                    select#find-us(name="find-us")
                        option(value="friends") Friends
                        option(value="search", selected) Search engine
                        option(value="add") Advertisment
                        option(value="other") Other way
            .flex-row
                .flex-item-left
                    label=label.newsletter
                .flex-item-right
                    input#news(type="checkbox", name="news", checked)
                    span Yes,please
            .flex-row
                .flex-item-left
                    label=label.write
                .flex-item-right
                    textarea#message(name="message", cols="30", rows="10", placeholder="Your message")
            .flex-row
                .flex-item-left
                    p &nbsp;
                .flex-item-right
                    input(type="submit", value="Send it")

