-
    var heading = `We're currently in these cities`;

    var icons = {
        user: 'ion-ios-person',
        chefs: 'ion-ios-star',
        twitter: 'ion-logo-twitter'
        
    }

    var citiesList = [
        {
            src: '/asset/image/lisbon-3.jpg',
            alt: 'Lisbon',
            name: 'Lisbon',
            eaters: '1600+ eaters',
            chefs: '60+ top chefs',
            twitter: '@omnifood_lx'
        },
        {
            src: '/asset/image/san-francisco.jpg',
            alt: 'San Francisco',
            name: 'San Francisco',
            eaters: '3700+ eaters',
            chefs: '160+ top chefs',
            twitter: '@omnifood_sf'
        },
        {
            src: '/asset/image/berlin.jpg',
            alt: 'Berlin',
            name: 'Berlin',
            eaters: '2300+ eaters',
            chefs: '110+ top chefs',
            twitter: '@omnifood_berlin'
        },
        {
            src: '/asset/image/london.jpg',
            alt: 'London',
            name: 'London',
            eaters: '1200+ eaters',
            chefs: '70+ top chefs',
            twitter: '@omnifood_london'
        },
    ];

section.section-cities
    .row
        h2.heading-secondary=heading
        .row
            .flex-container
                each city in citiesList
                    .flex-item
                        img(src=city.src, alt=city.alt)
                        h3=city.name
                        .city-feature
                            i.icon(class=icons.user)
                            p=city.eaters
                        .city-feature
                            i.icon(class=icons.chefs)
                            p=city.chefs
                        .city-feature
                            i.icon(class=icons.twitter)
                            a(href="#")
                                p=city.twitter

