-
    var heading = `Our customers can't live without us`;
    var customerList = [
        {
            text: `Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a life-saver. Now that I got used to it, I couldn't live without my daily meals!`,
            name: 'Alberto Duncan',
            image: '/asset/image/customer-1.jpg',
            alt: 'Alberto Duncan'
        },
        {
            text: `Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in Lisbon, but no one comes even close to Omifood. Me and my family are so in love!`,
            name: 'Joana Silva',
            image: '/asset/image/customer-2.jpg',
            alt: 'Joana Silva'
        },
        {
            text: `I was looking for a quick and easy food delivery service in San Franciso. I tried a lot of them and ended up with Omnifood. Best food delivery service in the Bay Area. Keep up the great work!`,
            name: 'Milton Chapman',
            image: '/asset/image/customer-3.jpg',
            alt: 'Milton Chapman'
        },
    ];



section.section-testimonials
    .row
        h2.heading-secondary=heading
        .row
            .flex-container
                each customer in customerList
                    .flex-item
                        blockquote
                            p=customer.text
                            cite
                                img(src=customer.image, alt=customer.alt)
                                p=customer.name