-
    var heading = 'How it works - Simple as 1, 2, 3';
    var image = {
        src: './asset/image/app-iPhone.png',
        alt: 'Omnifood app on iphone'
    };

    var stepsList = [
        {
            description: 'Choose the subscription plan that best fits your needs and sign up today.'
        },
        {
            description: 'Order your delicious meal using our mobile app or website. Or you can even call us!'
        },
        {
            description: 'Enjoy your meal after less than 20 minutes. See you the next time!'
        }
    ];

    var linkImage = [
        {
            href: '#',
            src: '/asset/image/download-app.svg',
            alt: 'App Store Button'
        },
        {
            href: '#',
            src: '/asset/image/download-app-android.png',
            alt: 'Play Store Button'
        },
    ];

section.section-steps
    .row
        h2.heading-secondary=heading
    .row
        .flex-wrapper
            .flex-item--1
                img.app-screen(src=image.src, alt=image.alt)
            .flex-item--2
                each step, index in stepsList
                    .works-step
                        div=index+1
                        p=step.description
                each image in linkImage
                    a.btn-app(href=image.href)
                        img(src=image.src ,alt=image.alt)