-
    const headingList = [
        { label: 'Goodbye junk food.'},
        { label: 'Hello super healthy meals.'}
    ];
    const btnList = [
        {
            label: `I'm hungry`,
            class: `btn--full`,
            link: `#`
        },
        {
            label: `Show me more`,
            class: `btn--ghost`,
            link: `#`
        },
    ];

    const logo =  {
            src: './asset/image/logo-white.png',
            alt: 'Omnifood Logo',
        };

    const navigation = {
        links: [
            {
                name: 'Food delivery',
                link: '#'
            },
            {
                name: 'How it works',
                link: '#'
            },
            {
                name: 'Our cities',
                link: '#'
            },
            {
                name: 'Sign up',
                link: '#'
            }
        ]
    };

header
    nav 
        .row
            .nav-wrapper
                img.logo(src=logo.src,alt=logo.alt)
                ul.main-nav
                    each navItem in navigation.links
                        li 
                            a(href=navItem.link)=navItem.name

    .hero-text-box
        h1.hero-text-box__heading
            each headingName in headingList
                span.hero-text-box__heading--label=headingName.label
        each btnName in btnList
            a.btn(
                href=btnName.link,
                class=btnName.class
            )=btnName.label